{% extends 'adminbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    th{
        background-color: #4281f5;
        color: white;
    }
    table{
        border-radius: 5px;
    }
    </style>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Medicine</h1>
        <form method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" class="form-control" name="txtName" required></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><textarea class="form-control" name="txtDesc" required></textarea></td>
                </tr>
                <tr>
                    <td>Contents</td>
                    <td><input type="text" class="form-control" name="txtContent" required></td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td><input type="text" class="form-control" name="txtCompany" required></td>
                </tr>
                <tr>
                    <td>Rate</td>
                    <td><input type="text" class="form-control" name="txtRate" required></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" value="Submit"></td>
                </tr>
            </table>
        </form>
        <table border="1" style="margin-top: 50px;">
            <tr>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>CONTENT</th>
                <th>COMPANY</th>
                <th colspan="2">RATE</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td>{{d.3}}</td>
                <td>{{d.4}}</td>
                <td>{{d.5}}</td>
                <td><a href="/adminmedicinedelete?id={{d.0}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        var msg="{{msg}}";
        if(msg!="")
            alert(msg)
        </script>
{% endblock %}