<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Medizin Medical Category Bootstrap Responsive Web Template | Contact Us :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Medizin Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../static/css/slider.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
        <!-- mian-content -->
        <div class="main-w3layouts-header-sec inner " id="home">
            <div class="overlay inner">
                <!-- header -->
                <header>
                    <div class="container">
                        <div class="header d-lg-flex justify-content-between align-items-center">
                            <div class="header-section">
                                <h1>
                                    <a class="navbar-brand logo editContent" href="/">
                                        <span class="fa fa-meetup"></span>edizin
                                    </a>
                                </h1>
                            </div>
                            <div class="nav_section">
                                <nav>
                                    <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"></span></label>
                                    <input type="checkbox" id="drop" />
                                    <ul class="menu">
                                        <li><a href="/patienthome">Home</a></li>
                                        <li><a href="/patientrequest">Request </a></li>
                                        <li><a href="/patientprescription">Prescription </a></li>
                                        <li><a href="/patientfeedback">Feedback </a></li>
                                        <li><a href="/login">Logout </a></li>
                                        
                                        
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </header>
                <!-- //header -->
            </div>
        </div>
        <!-- //header -->

       {% block content %}
       {% endblock %}
        
        <div class="cpy-right py-3">
            <div class="container">
                <div class="row">
                    <p class="col-md-10 text-left">© 2019 Medizin. All rights reserved | Design by
                        <a href="http://w3layouts.com"> W3layouts.</a>
                    </p>
                    <!-- move top icon -->
                    <a href="#home" class="move-top text-lg-right text-center col-md-2"><span class="fa fa-angle-double-up" aria-hidden="true"></span></a>
                    <!-- //move top icon -->
                </div>
            </div>

        </div>


</body>

</html>
