{% extends 'patientbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    </style>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Feedback</h1>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <table>
               
                <tr>
                    <td>Feedback</td>
                    <td><textarea name="txtFeedback" class="form-control" required></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" class="btn btn-primary" style="color: white;" value="Submit"></td>
                </tr>
            </table>
        </form>
        
    </div>
    <script>
        var msg="{{msg}}";
        if(msg!="")
            alert(msg)
        </script>
{% endblock %}