{% extends 'patientbase.html' %}
{% block content %}
<style>
    th,td{
        padding: 10px;
    }
    </style>
    <div style="margin: 50px;">
        <h1 style="margin: 10px;">Prescription</h1>
     
        <table border="1" style="margin-top: 50px;">
            <tr>
                <th>REQUEST ID</th>
                <th>DISEASE</th>
                <th>DOCTOR</th>
                <th>DIAGNOSIS</th>
                <th colspan="2">PRESCRIPTION</th>
            
            </tr>
            {% for d in data %}
            <tr>
                <td>{{d.0}}</td>
                <td>{{d.1}}</td>
                <td>{{d.2}}</td>
                <td>{{d.3}}</td>
                <td>{{d.4}}</td>
                <td><a href="/patientmedicine?id={{d.5}}">View medicine</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        var msg="{{msg}}";
        if(msg!="")
            alert(msg)
        </script>
{% endblock %}